h1 {
    font-size: 48px;
    background-color: rgb(196, 23, 23);
    color: rgb(255, 208, 0);
    font-family: "Brush Script MT";
    text-align: center;
}

body {
    background-color: rgb(255, 208, 0);
    font-family: "Arial";
    text-align: center;
    color: rgb(196,23,23)
}

ul {
    list-style-type: none;
}